# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=
SESSION_ID='Prince~k9BFVShA#3naRxZxUO02U54_JR8XBiYRONNgLB4S14L3KZmghf_4'
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=false
STATUSVIEW=false
OWNERS=919401105736;PRINCE
antidelete=false
BOT_NAME=Prince
DL_MSG=Here is your video
